[v-cloak] {
    display: none
}

body {
	font-family: sans-serif;
    color: rgb(44, 43, 43);
    padding-left: 20px;
    padding-right: 300px;
}

h1 {    
	color: rgb(230, 164, 10);
    font-size: 3rem;
}

h2 {    
	color: rgb(23, 128, 157);
}

h2.active {
    color: rgb(230, 164, 10);
  }

p {
    margin-bottom: 150px;
} 

.project-photo__l {
    display: inline block;
    object-fit: cover;
    border-radius: 20% 0 20% 0;
    margin: 10px 0;
  }
  .project-photo__a {
    display: inline block;
    object-fit: cover;
    border-radius: 0 20% 0 20%;
    margin: 10px 0;
  }

  a {
    text-decoration: none;
    color:rgb(23, 128, 157)
  }

  a .active {
    color: rgb(230, 164, 10);
    border-bottom: 1px solid grey;
  }



