body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}



div {
    margin: 10px 0; 
}
button {
    background-color: rgb(85, 178, 231);
    color: aliceblue;
}






